.vscode/**
.vscode-test/**
.vite-hooks/**
out/**
node_modules/**
src/**
.node-version
.node_version
AGENTS.md
.gitignore
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
clang-format.xcf
.github/**
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
webpack.config.js
**/jest.config.*
**/*.test.*
**/*.spec.*
**/__tests__/**
**/__mocks__/**
**/test/**
**/.DS_Store
**/*.vsix
contributing.md
CODE_OF_CONDUCT.md
SECURITY.md
**/*.gif
**/*.jpg
**/*.ico
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
npm-debug.log
.clang-format
**/*.js.map
.devcontainer/**
